.container {
    max-width: 800px; /* Set maximum width of the container */
    margin: 0 auto; /* Center the container horizontally */
    padding: 20px; /* Add padding */
}


table , td, tr, th, button{
    width:100%;
    background-color: rgb(82, 80, 80);
    border : 2px solid black;
    box-shadow: 0 0 10px rgba(240, 232, 10, 0.7);
    text-align: center;
    box-sizing: border-box;
}

button:hover{
    background-color: rgb(255, 123, 0);
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.4s;
}

button:focus{
    background-color: rgb(253, 89, 1);
    border : 2px solid black;
    box-shadow: 0 0 10px rgba(10, 240, 228, 0.7);
}

input{
    width: 100%; /* Make inputs and buttons take up the full width of their container */
    box-sizing: border-box; /* Include padding and border in width calculation */
}